

<div>
  <ul class='left_top' onClick="ShowMenu('ModInfo')" >
    <li class='left_top_left left'>新闻与介绍</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModInfo'>
<li id='admliInfA124'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=InfA124'>企业介绍</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=InfA124'>增加</a>
-
<a target='mainFrame' href='../../smod/gbook/out_list.asp?ModID=InfA124'>评论</a>
</li><li id='admliInfD124'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=InfD124'>部门介绍</a>
-
<a target='mainFrame' href='../../sadm/system/system.asp?ModID=Depart'>设置</a>
-
<a target='mainFrame' href='../../smod/gbook/out_list.asp?ModID=InfD124'>评论</a>
</li><li id='admliInfC124'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=InfC124'>课程介绍</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=InfC124'>增加</a>
-
<a target='mainFrame' href='../../smod/gbook/out_list.asp?ModID=InfC124'>评论</a>
</li><li id='admliInfN124'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=InfN124'>新闻中心</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=InfN124'>增加</a>
-
<a target='mainFrame' href='../../smod/gbook/out_list.asp?ModID=InfN124'>评论</a>
</li><li id='admliInfN224'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=InfN224'>新闻(英)</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=InfN224'>增加</a>
-
<a target='mainFrame' href='../../smod/gbook/out_list.asp?ModID=InfN224'>评论</a>
</li><li id='admliInfT124'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=InfT124'>服务跟踪 </a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=InfT124'>增加</a>
-
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=InfT124'>类别</a>
</li><li hdFlag>
<a target=mainFrame href=../../smod/info/head_list.asp>头条设置</a>
<a target=mainFrame href=../../smod/info/set_stat.asp>信息发布统计</a>
</li>

<li>
<a target='mainFrame' href='../../smod/type/type_center.asp?MD=Inf'> ** 信息模块类别管理 ** </a>
</li>
  </ul>
  <div class='left_end'></div>
</div>

<div>
  <ul class='left_top' onClick="ShowMenu('ModPics')" >
    <li class='left_top_left left'>图片与视频</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModPics'>
<li id='admliPicS124'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=PicS124'>产品图片</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=PicS124'>增加</a>
-
<a target='mainFrame' href='../../smod/info/ord_list.asp?ModID=PicS124'>定单</a>
</li><li id='admliPicS224'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=PicS224'>产品(英)</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=PicS224'>增加</a>
-
<a target='mainFrame' href='../../smod/info/ord_list.asp?ModID=PicS224'>定单</a>
</li><li id='admliPicR124'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=PicR124'>人物图片</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=PicR124'>增加</a>
-
<a target='mainFrame' href='../../smod/gbook/out_list.asp?ModID=PicR124'>评论</a>
</li><li id='admliPicT124'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=PicT124'>其它图片</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=PicT124'>增加</a>
-
<a target='mainFrame' href='../../smod/gbook/out_list.asp?ModID=PicT124'>评论</a>
</li><li id='admliPicV124'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=PicV124'>视频播放</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=PicV124'>增加</a>
-
<a target='mainFrame' href='../../smod/gbook/out_list.asp?ModID=PicV124'>评论</a>
</li><li id='admliPicV125'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=PicV125'>文件下载</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=PicV125'>增加</a>
-
<a target='mainFrame' href='../../smod/gbook/out_list.asp?ModID=PicV125'>评论</a>
</li><li id='admliPicTBak'>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=PicTBak'>备用图片</a>
-
<a target='mainFrame' href='../../smod/info/info_add.asp?ModID=PicTBak'>增加</a>
-
<a target='mainFrame' href='../../smod/gbook/out_list.asp?ModID=PicTBak'>评论</a>
</li>
<li>
<a target='mainFrame' href='../../smod/info/order_set.asp' hdFlag>定单参数</a>
---
<a target='mainFrame' href='../../smod/type/type_center.asp?MD=Pic'>信息类别</a>
</li>
  </ul>
  <div class='left_end'></div>
</div>

<div>
  <ul class='left_top' onClick="ShowMenu('ModGbook')" >
    <li class='left_top_left left'>留言与笔记</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModGbook'>
<li id='admliGboK124'>
<a target='mainFrame' href='../../smod/gbook/info_list.asp?ModID=GboK124'>(中文)访客留言</a>
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=GboK124'>分类</a>
</li><li id='admliGboK224'>
<a target='mainFrame' href='../../smod/gbook/info_list.asp?ModID=GboK224'>(英文)访客留言</a>
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=GboK224'>分类</a>
</li><li id='admliGboU124'>
<a target='mainFrame' href='../../smod/gbook/info_list.asp?ModID=GboU124'>站务笔记</a>
<a target='mainFrame' href='../../smod/gbook/info_add.asp?ModID=GboU124'>增加</a>
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=GboU124'>分类</a>
</li><li id='admliGboU224'>
<a target='mainFrame' href='../../smod/gbook/info_list.asp?ModID=GboU224'>个人笔记</a>
<a target='mainFrame' href='../../smod/gbook/info_add.asp?ModID=GboU224'>增加</a>
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=GboU224'>分类</a>
</li>
  </ul>
  <div class='left_end'></div>
</div>

<div>
  <ul class='left_top' onClick="ShowMenu('ModMember')" >
    <li class='left_top_left left'>会员与查询</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModMember'>
<li>
<a target='mainFrame' href='../../member/admin/member.asp'>会员管理</a>
<a target='mainFrame' href='../../member/admin/system.asp'>参数</a>
<a target='_blank' href='../../member/mu_app_123457.asp'>注册</a>
</li>
<li>
<A target='mainFrame' href='../../smod/gbook/info_list.asp?ModID=MemB124'>会员反馈</A>
<A target='mainFrame' href='../../smod/gbook/info_list.asp?ModID=MemB224'>通知</A>
<A target='mainFrame' href='../../smod/gbook/info_list.asp?ModID=MemB324'>笔记</A>
</li>
<li>
<a target="mainFrame" href="../../member/ecard/member.asp">档案查询</a>
<a target="mainFrame" href="../../smod/type/type_list.asp?ModID=MemC124">分类</a>
<a target="mainFrame" href="../../member/ecard/admimport.asp">导入</a>
</li>
  </ul>
  <div class='left_end'></div>
</div>

<div>
  <ul class='left_top' onClick="ShowMenu('ModBBS')" >
    <li class='left_top_left left'>论坛与投票</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModBBS'>
<li id='admliBBSP124'>
<a target='mainFrame' href='../../bbs/badm/bbs_list.asp?ModID=BBSP124'>公开论坛</a>
 - 
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=BBSP124'>分类</a>
</li><li id='admliBBSPK24'>
<a target='mainFrame' href='../../bbs/badm/info_list.asp?ModID=BBSPK24'>观点辩论</a>
<a target='mainFrame' href='../../bbs/badm/view_list.asp?ModID=BBSPK24'>观点</a>
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=BBSPK24'>类别</a>
</li><li id='admliBBSI124'>
<a target='mainFrame' href='../../bbs/badm/bbs_list.asp?ModID=BBSI124'>内部论坛</a>
 - 
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=BBSI124'>分类</a>
</li><li id='admliBBSVA24'>
<a target='mainFrame' href='../../vote/vote/info_list.asp?ModID=BBSVA24'>投票项目</a>
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=BBSVA24'>类别</a>
<a target='mainFrame' href='../../vote/vote/vote_logs.asp'>记录</a>
</li><li id='admliBBSVB24'>
<a target='mainFrame' href='../../vote/vote/ind_list.asp?ModID=BBSVB24'>问卷调查</a>
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=BBSVB24'>类别</a>
<a target='mainFrame' href='../../vote/vote/vote_logs.asp'>记录</a>
</li><li id='admliBBSVC24'>
<a target='mainFrame' href='../../vote/vote/inf2_list.asp?ModID=BBSVC24'>简易调查</a>
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=BBSVC24'>类别</a>
<a target='mainFrame' href='../../vote/vote/vote_logs.asp'>记录</a>
</li>
  </ul>
  <div class='left_end'></div>
</div>

<div>
  <ul class='left_top' onClick="ShowMenu('ModTrade')" >
    <li class='left_top_left left'>商务与供求</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModTrade'>
<li>
<a target='mainFrame' href='../../trade/madm/info_corp.asp'>企业资料</a>
<a target='mainFrame' href='../../trade/madm/set_temp.asp'>参数</a>
<a target='mainFrame' href='../../trade/madm/set_type.asp?ModID=TraA124'>类别</a>
</li>
<li>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=TraA124'>企业介绍</a>
<a target='mainFrame' href='../../trade/madm/set_type.asp?ModID=TraA124'>类别</a>
<a target='mainFrame' href='../../trade/madm/info_gbook.asp?ModID=TraG124'>留言</a>
</li>
<li>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=TraN124'>新闻中心</a> 
<a target='mainFrame' href='../../trade/madm/set_type.asp?ModID=TraN124'>类别</a>
<a target='mainFrame' href='../../trade/madm/info_gbook.asp?ModID=TraR124'>评论</a>
</li>
<li>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=TraT124'>供求交易</a>
<a target='mainFrame' href='../../trade/madm/set_type.asp?ModID=TraT124'>类别</a>
<a target='mainFrame' href='../../trade/madm/info_gbook.asp?ModID=TraO124'>订购</a>
</li>
<li>
<a target='mainFrame' href='../../smod/info/info_list.asp?ModID=TraJ124'>招聘信息</a>
<a target='mainFrame' href='../../trade/madm/set_type.asp?ModID=TraA124'>类别</a>
<a target='mainFrame' href='../../trade/madm/info_gbook.asp?ModID=TraO124'>应聘</a>
</li>
  </ul>
  <div class='left_end'></div>
</div>

<div>
  <ul class='left_top' onClick="ShowMenu('ModDocs')" >
    <li class='left_top_left left'>内部公文</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModDocs'>
<li>
<a target='mainFrame' href='../../doc/dadm/adm_list.asp'>公文管理</a>
-
<a target='mainFrame' href='../../doc/dadm/adm_logs.asp?ModID=DocD124'>查阅记录</a>
</li>
<li>
<a target='mainFrame' href='../../doc/dadm/adm_rem.asp'>公文评论</a>
-
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=DocD124'>公文类别</a>
</li>
<li>
<A target='mainFrame' href='../../sadm/user/user.asp?ModID=Inner'>公文会员</A>
-
<A target='mainFrame' href='../../sadm/system/system.asp?ModID=Inner'>公文分组</A>
</li>
<li>
<A target='mainFrame' href='../../smod/gbook/info_list.asp?ModID=MemB424'>会员反馈</A>
<A target='mainFrame' href='../../smod/gbook/info_list.asp?ModID=MemB524'>通知</A>
<A target='mainFrame' href='../../smod/gbook/info_list.asp?ModID=MemB624'>笔记</A>
</li>

  </ul>
  <div class='left_end'></div>
</div>

<div>
  <ul class='left_top' onClick="ShowMenu('ModSms')" >
    <li class='left_top_left left'>短信系统</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModSms'>
<li>
<a target='mainFrame' href='../../msg/admin/info.asp?act=Balance'>接口余额</a>
---
<a target='mainFrame' href='../../msg/admin/info.asp?act=Charge'>接口充值</a>
</li>
<li>
<a target='mainFrame' href='../../msg/admin/send.asp?act='>发送短信</a>
<a target='mainFrame' href='../../msg/admin/send.asp?act=Group'>群发</a>
<a target='mainFrame' href='../../msg/admin/send.asp?act=Test'>测试</a>
</li>
<li>
<a target='mainFrame' href='../../msg/admin/logr.asp'>充值记录</a>
---
<a target='mainFrame' href='../../msg/admin/logs.asp'>发送记录</a>
</li>

<li>
<A target='mainFrame' href='../../msg/user/member.asp'>短信会员</A>
---
<A target='mainFrame' href='../../msg/user/temp.asp'>短信范本</A>
</li>

<li>
<A target='mainFrame' href='../../msg/user/tels.asp'>电话薄</A>
---
<A target='mainFrame' href='../../msg/user/tset.asp'>群发号码组</A>
</li>
  </ul>
  <div class='left_end'></div>
</div>

<div>
  <ul class='left_top' onClick="ShowMenu('ModHost')" >
    <li class='left_top_left left'>主机管理</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModHost'>
<li>
<A target='mainFrame' xhref='#'> 开发中... </A>
</li>
  </ul>
  <div class='left_end'></div>
</div>

<div>
  <ul class='left_top' onClick="ShowMenu('ModHome')" >
    <li class='left_top_left left'>刷新与杂项</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModHome'>
<li id='HomUpdate'>
<a target='mainFrame' href='../../smod/adupd/upd.asp'>信息刷新</a>
 -- 
<a target='mainFrame' href='../../smod/adupd/para_list.asp'>快捷设置</a>
</li><li id='admliHomSets'>
<a target='mainFrame' href='../../tools/help/xhelp.asp'>管理帮助</a>
 -- 
<a target='mainFrame' href='../../tools/help/ctrace.asp'>服务跟踪</a>
</li>
<li>
<a id='admaHomAdvert' target='mainFrame' href='../../smod/link/ad_pic.asp'>广告设置</a>
 -- 
<a id='admaHomCount' target='mainFrame' href='../../tools/base/omaster.asp'>统计计数</a>
</li><li id='admliHomLnk1'>
<a target='mainFrame' href='../../smod/link/info_list.asp'>友情连接</a>
<a target='mainFrame' href='../../smod/link/info_add.asp'>增加</a>
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=HomLnk1'>分类</a>
</li><li id='admliBBSVD24'>
<a target='mainFrame' href='../../vote/vote/inf3_list.asp?ModID=BBSVD24'>网上调查</a>
<a target='mainFrame' href='../../vote/vote/inf3_add.asp?ModID=BBSVD24'>增加</a>
<a target='mainFrame' href='../../smod/type/type_list.asp?ModID=BBSVD24'>分类</a>
</li>
  </ul>
  <div class='left_end'></div>
</div>

<div>
  <ul class='left_top' onClick="ShowMenu('ModSystem')" >
    <li class='left_top_left left'>系统与设置</li>
    <li class='left_top_right right'></li>
  </ul>
  <ul class='left_conten col999' id='sSubModSystem'>
<li id='admliSysMods'>
<a target='mainFrame' href='../../sadm/system/logs_list.asp'>系统记录</a>
<a target='mainFrame' href='../../sadm/system/system.asp'>模块</a>
<a target='mainFrame' href='../../sadm/system/para_yno.asp'>参数</a>
</li>
<li id='admliSysUList'>
<a target='mainFrame' href='../../sadm/user/user_editpw.asp'>个人密码</a>
<a target='mainFrame' href='../../sadm/user/user.asp'>管理员列表</a>
</li><li id='admliSysDB'>
<a target='mainFrame' href='../../sadm/admin/typs_list.asp'>信息类别</a> 
<a target='mainFrame' href='../../sadm/admin/sys_dbacc.asp'>数据库管理</a>
</li><li id='admliSysMenu'>
<a target='mainFrame' href='../../sadm/admin/sys_menu.asp'>系统菜单</a>
--
<a target='mainFrame' href='../../sadm/admin/sys_mpara.asp'>菜单参数</a>
</li><li id='admliSysConfig'>
<a target='mainFrame' href='../../sadm/admin/type_list.asp'>系统类别</a>
<a target='mainFrame' href='../../sadm/admin/sys_config.asp'>配置</a>
<a target='mainFrame' href='../../tools/tools.asp?Act=Admin'>工具</a>
</li>
  </ul>
  <div class='left_end'></div>
</div>
<script type='text/javascript'>var mStr=';ModInfo;ModPics;ModGbook;ModMember;ModBBS;ModTrade;ModDocs;ModSms;ModHost;ModHome;ModSystem';</script>