/* 全局 */
div,ul,form,table {font-size:12px;margin:0;clear:both;}
li {list-style:none outside;}
body {
color: #333;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 150%;
background:#fff;
text-align:center;
word-break:break-all;
}
A:link { color:#333366; text-decoration:none; }
A:visited { color:#3333FF; text-decoration:none; }
A:hover { color:#0000ff; text-decoration:underline; }
A:active { color:#ff00ff; text-decoration:underline; }

li A:link,li A:visited { color:#333366; text-decoration:none; }

#showpage {
	clear: both;
	text-align: center;
	width: 100%;
}
.ModGroupX {
	background-repeat:no-repeat;
	font-weight:bold;
	display:inline-block;
	padding:0px 1px 0px 8px;
	xborder:1px solid #999;
}
.ModGroupA {
	background-image:url(../../ext/api/menu/SpryMenuBarDown.gif);
	background-position:2px 7px;
	cursor:default;
	color:#F00;
}
.ModGroupB {
	background-image:url(../../ext/api/menu/SpryMenuBarRight.gif);
	background-position:4px 6px;
	cursor:pointer;
	color:#33C;
}

/* 常用属性 */
.left {float:left;}
.right {float:right;}

/* admin_index_left */
#TabPage1 {width:180px;margin:0 0 0 3px;}
ul.left_top {width:156px;background:#fff;text-align:left;cursor:pointer;margin:0 0 0 -40px!important;margin:0;}
ul.left_top li {float:left;}
ul.left_top li.left_top_left {padding:8px 0 3px 22px;height:20px;width:124px!important;width:146px;font-weight:900;color:#fff;background: url("admin_top_left.png") no-repeat 0 0;}
ul.left_top li.left_top_right {height:30px;width:10px;background: url("admin_top_right.png") no-repeat 0 0;}

ul.left_conten {padding:3px 0 0 8px;width:155px;text-align:left;background: url("left_conten.png") repeat-y left top;}
ul.left_conten li {line-height:1.8;list-style:none outside;}
ul.left_conten a.Selected {padding:5px 3px 2px 3px;color:#f00;border:1px #92B0DD solid;background:#E2EAF8;text-decoration:none;}
ul.left_conten li a {padding:5px 3px 2px 3px;}
ul.left_conten li a:hover {padding:5px 3px 2px 3px;color:#f00;border:1px #92B0DD solid;background:#E2EAF8;text-decoration:none;}

div.left_top {width:160px;height:15px;background: url("left_top.png") no-repeat left bottom;}
div.left_end {width:160px;height:15px;background: url("left_end.png") no-repeat left top;}
/* admin_index_main */
#main_body {width:100%;margin:0 3px 0 1px ;}
#main_login {width: 480px; margin:50px auto;}
ul.main_top {width:auto!important;width:100%;height:27px;font-size:14px;font-weight:900;color:#fff;background: url("admin_top_left.png") no-repeat 0 0;}
ul.main_top li.main_top_left {padding:7px 0 3px 22px;height:20px;}
ul.main_top li.main_top_more {padding:7px 0 3px 22px;height:20px; }
ul.main_top li.main_top_right {height:30px;width:10px;background: url("admin_top_right.png") no-repeat 0 0;}

div.main_content_rightbg {width:auto;padding:0 3px 0 0;background: url("main_content_rightbg.png") repeat-y right top;}
div.main_content_leftbg {line-height:1.8;padding:10px 12px 0 15px;background:#fff url("main_content_leftbg.png") repeat-y left top;}
div.main_content_leftbg a {text-decoration:none;}
div.main_content_leftbg table {width:100%!important;width:96%;margin:0!important;margin:0 -30px 0 -30px;background:#eee;}

div.main_content_leftbg #textarea table {width:auto;margin:0;background:#fff;}
div.main_content_leftbg #textarea table td {line-height:1.0;padding:0;}

div.main_content_leftbg table td {background:#fff;line-height:1.8;padding:3px 10px;}
div.main_content_leftbg table td.topbg {padding:0;font-size:13px;color:#000;text-align:left;background: url("main_content_topbg.png") repeat-x left top;border:1px #1E79B9 solid;margin:-1px;}
div.main_content_leftbg table td.topbg strong {padding:0 0 0 10px;display:block;border:1px #fff solid;}
div.main_content_leftbg table td.topbg b {padding:0 0 0 10px;display:block;border:1px #fff solid;}
div.main_content_leftbg table td.topbg1 {padding:4px 10px 0 0;font-size:13px;color:#000;text-align:right;background: url("main_content_topbg.png") repeat-x left top;border:1px #999 solid;margin:-1px;}

ul.main_end {background: url("main_end_left.png") no-repeat 0 0;height:20px;}
ul.main_end li.main_end_right {height:20px;width:10px;background: url("main_end_right.png") no-repeat 0 0;}

div.progress1 {
	height: 20px;
	width: 400px;
	border: 1px solid #000;
	background-color: #fff;
	text-align: left;
	MARGIN-top:15px;
	margin-bottom: 5px;
}
div.progress2 {
	height: 20px;
	border: 0px none;
	background: url("main_content_topbg.png") repeat-x left top;
	MARGIN: 1px 1px 1px 1px;
	text-align: left;
}
.colF0F {color: #FF00FF}
.colF00 {color: #FF0000}
.col0F0 {color: #00FF00}
.col00F {color: #0000FF}
.colF03 {color: #FF0033}
.col090 {color: #009900}
.colCCC {color: #CCCCCC}
.col999 {color: #999999}
.col666 {color: #666666}

.fnt000, a.fnt000:link, a.fnt000:visited {
	COLOR: #000
}
.fntFFF, a.fntFFF:link, a.fntFFF:visited {
	COLOR: #fff
}
.fntCCC, a.fntCCC:link, a.fntCCC:visited {
	COLOR: #ccc
}
.fnt666, a.fnt666:link, a.fnt666:visited {
	COLOR: #666
}
.fnt0C0, a.fnt0C0:link, a.fnt0C0:visited {
	COLOR: #0c0
}
.fnt096, a.fnt096:link, a.fnt096:visited {
	COLOR: #096
}
.fnt690, a.fnt690:link, a.fnt690:visited {
	COLOR: #690
}
.fnt00F, a.fnt00F:link, a.fnt00F:visited {
	COLOR: #00f
}
.fntF00, a.fntF00:link, a.fntF00:visited {
	COLOR: #f00
}
.fntF0F, a.fntF0F:link, a.fntF0F:visited {
	COLOR: #f0f
}